<mat-card id="mydiv">
  <div>
    <span>Created By: {{fullFileInfo.createdBy}}</span>
    <span style="float:right; "> Created Date: {{fullFileInfo.createdDate}}</span>
  </div>
  <div>
    <span>Modified By: {{fullFileInfo.modifiedBy}}</span>
    <span style="float:right;"> Modified Date: {{fullFileInfo.modifiedDate}}</span>
  </div>
  <div>
    <span>Version : {{fullFileInfo.version}}</span>
    <span style="float:right;"> Size : {{fullFileInfo.size}}</span>
  </div>
  <mat-divider></mat-divider>
  <div style="padding-top: 10px">
    <mat-slide-toggle #edit style="float: right;" (change)="editMode()" [checked]="sliderValue"
                      [disabled]="fullFileInfo.isEditing && !alreadyEditByMe">Edit
    </mat-slide-toggle>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter your file name" name="name" style="width:80%" [(ngModel)]="fullFileInfo.name"
             [disabled]="!edit.checked">

    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter short description" name="description" style="width:80%"
             [(ngModel)]="fullFileInfo.description" [disabled]="!edit.checked">

    </mat-form-field>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Feel free to fill your file" name="content" style="width:80%"
                  [(ngModel)]="fullFileInfo.content" [disabled]="!edit.checked"></textarea>

      </mat-form-field>
    </form>
  </div>
  <mat-card-actions>
    <div fxLayoutAlign="space-around center">
      <button mat-raised-button (click)="saveFile()" [disabled]="checkDisabled()"> Save File</button>
      <button mat-raised-button routerLink="/file/all"> Cancel</button>
      <span *ngIf="fullFileInfo.isEditing && !alreadyEditByMe" style="color:red">Currently this file is edited by {{ fullFileInfo.editedBy }}</span>
    </div>
  </mat-card-actions>

