<div style="margin: 5%;">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         style="background-color: whitesmoke ">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <div *ngIf="column!='isEditing'">
        <th mat-header-cell *matHeaderCellDef> {{column}}</th>
        <td mat-cell *matCellDef="let element">
          {{element[column]}}
        </td>
      </div>
      <div *ngIf="column=='isEditing'">
        <th mat-header-cell *matHeaderCellDef>Disabled?</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element[column]">check_box</mat-icon>
          <mat-icon *ngIf="!element[column]">check_box_outline_blank</mat-icon>
        </td>
      </div>


    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-card style="background-color: lightgrey;width: 100%;margin-bottom: 10px">
            <mat-card-header>
              <mat-card-title>Created By: {{expandedElement.createdBy}}</mat-card-title>
              <mat-card-subtitle>Created Date: {{expandedElement.createdDate}}</mat-card-subtitle>
            </mat-card-header>
            Description : {{expandedElement.description}}
            <mat-card-actions style="padding-right: 100px">
              <button mat-fab color="primary" style="float: right;" [routerLink]="['/file',expandedElement.id ]">
                <mat-icon>visibility</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expand(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator style="background-color: whitesmoke " [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  <div style="float:right; padding-top: 25px">
    <button routerLink="/file/add" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


